{% extends "common/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h3 class="module-header">About</h3>
        <p>About the talent show.</p>
        <p>If you have any questions, or to change your audition time, please email <span class="email">harvardtale<span class="nospam">no_spam</span>nt2018@gmail.com</span></p>
    </div>
    <div class="col-md-4">
        <h3 class="module-header">Header 2</h3>
    </div>
    <div class="col-md-4">
        <h3 class="module-header">Header 3</h3>
    </div>
</div><!-- /.row -->

<div class="row">
    <div class="col-sm-12">
        <h3 class="module-header">Sign Up to Audition!</h3>
            {% if is_fwk %}
                {% crispy form %}
            {% else %}
                Come back during Freshman Week and sign up to audition for the talent show!
            {% endif %}
    </div>
</div>
{% endblock content %}