{% extends "common/base.html" %}
{% load crispy_forms_tags talentshow_tags %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h3 class="module-header">About</h3>
        <p>Come support your classmates as they reveal their hidden talents, and then vote for a grand-prize winner! Tickets (free, but limited) will only be available on the evening of the event, first-come, first-served with a Freshman Harvard ID. Ticket distribution begins at 5pm at Sanders Theatre. Hosted by the Crimson Key Society.</p>
    </div>
    <div class="col-md-4">
        <h3 class="module-header">Questions?</h3>
        <p>If you have any questions, or to change your audition time, please email {% talentshow_email %}.</p>
    </div>
</div><!-- /.row -->

<div class="row">
    <div class="col-sm-12">
        <h3 class="module-header">Sign Up to Audition!</h3>
            {% if is_fwk %}
                {% if audition_signup_open %}
                    {% crispy form %}
                {% else %}
                    <p>All of our audition slots have been filled. Please email {% talentshow_email %} if you are still interested in auditioning, and we'll try to accommodate you for Saturday from 11 - 2.</p>
                {% endif %}
            {% else %}
                Come back during Freshman Week and sign up to audition for the talent show!
            {% endif %}
    </div>
</div>
{% endblock content %}