{% extends "common/base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="module-header">About Freshman Week</h3>
                <p>Welcome to the official website of the Opening Days for the Class of 2018! Freshman Week, as it is commonly called, begins on move-in day and extends through the first week of classes. It is the official welcome and orientation to Harvard. The Crimson Key Society is responsible for planning and hosting all of the social events during Freshman Week. Many of these events, such as the showings of Love Story and the First Chance Dance, are long-standing traditions.</p>

                <p>During Freshman Week, make sure to stop by the Information Tent in Harvard Yard! Footballs and Spikeball sets are available for rent from the tent, and Class of 2018 t-shirts and Love Story tickets are available for purchase with a credit card.</p>
            </div>
            <div class="col-sm-6">
                <h3 class="module-header">Featured Events</h3>

                <ul class="featured-event-table">
                    {% for event in featured_events %}
                        <a href="{% url 'events' %}#{{ event.name|slugify }}">
                            <li class="featured-event">
                                <div class="featured-event-cell event-name">{{ event.name }}</div>
                                <div class="featured-event-cell event-date">{{ event.start_time|date:"M j"}}</div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3 class="module-header">Ticketing Information</h3>
                <p>
                    Ticketing information coming soon.
                </p>    
            </div>

            <div class="col-sm-6">
                <h3 class="module-header">T-Shirts</h3>
                <p>
                    You can buy a Class of 2018 t-shirt with the Cr1m8on logo for $15 at the Information Tent in Harvard Yard. Sorry, we don't accept cash. Credit cards only!
                </p>    
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3 class="module-header">Freshman Talent Show Audition Sign-Ups</h3>
                {% if is_fwk %}
                    {% crispy audition_form %}
                {% else %}
                    Come back during Freshman Week and sign up to audition for the talent show!
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="col-sm-12 instagram-feed">
            <h3 class="module-header">Instagram Feed</h3>
            <div class="loading">
                <img src="{% static 'common/img/loading/loading-bars.svg' %}" alt="Loading..." />
            </div>
            <div class="feed"></div>
        </div>
    </div>
</div>

<script>
{% if is_fwk %}
    load_instagram(3);
{% else %}
    load_instagram(2);
{% endif %}
</script>
{% endblock content %}