{% extends "common/base.html" %}
{% load staticfiles crispy_forms_tags talentshow_tags %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="module-header">About Freshman Week</h3>
                <p>Welcome to the official website of the Opening Days for the Class of 2019! Freshman Week, as it is commonly called, begins on move-in day and extends through the first week of classes. It is the official welcome and orientation to Harvard. The Crimson Key Society is responsible for planning and hosting all of the social events during Freshman Week. Many of these events, such as the showings of Love Story and the First Chance Dance, are long-standing traditions.</p>

                <p>During Freshman Week, make sure to stop by the Information Tent in Harvard Yard! Footballs and Spikeball sets are available for rent from the tent, and  Love Story tickets are available for purchase with a credit card.</p>
            </div>
            <div class="col-sm-6">
                <h3 class="module-header">Featured Events</h3>

                <ul class="featured-event-table">
                    {% for event in featured_events %}
                        <a href="{% url 'events' %}#{{ event.name|slugify }}">
                            <li class="featured-event">
                                <div class="featured-event-cell event-name">{{ event.name }}</div>
                                <div class="featured-event-cell event-date">{{ event.start_time|date:"M j"}}</div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3 class="module-header">Ticketing Information</h3>
                <p>
                Tickets are required for admission to the Freshman Talent Show and the Love Story screenings. You can get Freshman Talent Show tickets free-of-charge with your Harvard ID at Sanders Theatre on the evening of the show, starting at 5pm. Tickets are limited and will be distributed on a first-come, first-served basis. Love Story tickets can be purchased for $5 at dinner in Annenberg the evening of the show or at the door. See the <a href="{% url 'events' %}">events page</a> for more information.
                </p>    
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3 class="module-header">Freshman Talent Show Audition Sign-Ups</h3>
                {% if is_fwk %}
                    {% if audition_signup_open %}
                        {% crispy audition_form %}
                    {% else %}
                        <p>All of our audition slots have been filled. Please email {% talentshow_email %} if you are still interested in auditioning, and we'll try to accommodate you for Saturday from 11 - 2.</p>
                    {% endif %}
                {% else %}
                <div class="js-signup-reminder-module-container">
                    <p>Sorry, talent show audition sign-ups aren't open yet! They'll open on August 23rd, the night before Freshman Move-In Day. If you'd like an email when they open, fill out the form below:</p>
                    <div class="js-signup-reminder-container">
                        {% crispy audition_signup_reminder_form %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="col-sm-12 instagram-feed">
            <h3 class="module-header">Instagram Feed</h3>
            <div class="loading">
                <img src="{% static 'common/img/loading/loading-bars.svg' %}" alt="Loading..." />
            </div>
            <div class="feed"></div>
        </div>
    </div>
</div>

<script>
    function toTitleCase(str)
    {
        return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }

    $('.js-signup-reminder-btn').on('click', function(e){
        e.preventDefault();
        $('.js-signup-reminder-form-error').remove();
        var $form = $('#audition-signup-reminder-form');
        var data = $form.serializeArray();
        $.ajax({
            type:"POST",
            url:"/talent-show/set-signup-reminder/",
            data: data,
            success: function(response){
                if (response.errors) {
                    $.each(response.errors, function(field, msg) {
                        var errorMessage = '<p class="alert alert-danger js-signup-reminder-form-error"><strong>' + toTitleCase(field.replace('_', ' ')) + ':</strong> ' + msg + '</p>';
                        $('.js-signup-reminder-container').prepend(errorMessage);
                    });
                } else {
                    var successMessage = "<p class='alert alert-success'><strong>Success!</strong> We'll send you an email when the sign-up form opens!</p>";
                    $('.js-signup-reminder-module-container').html(successMessage);
                }
            },
            error: function(xhr, textStatus, errorThrown){
                var errorMessage = '<p class="alert alert-danger js-signup-reminder-form-error">Sorry, an error occurred.</p>';
                $('.js-signup-reminder-container').prepend(errorMessage);
            }
        });
    });
</script>


<script>
{% if is_fwk %}
    load_instagram(3);
{% else %}
    load_instagram(2);
{% endif %}
</script>
{% endblock content %}