{% extends "common/base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="module-header">About Freshman Week</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat vulputate velit non hendrerit. Nulla facilisi. Ut dignissim augue lectus, ac consequat risus suscipit quis. Mauris nec bibendum nulla, eget placerat ipsum. Fusce non pretium nisl, eu elementum odio. Aliquam nec nibh id lacus vestibulum euismod at ac erat. Praesent orci ipsum, ultricies vitae varius non, rhoncus vitae massa. Ut lectus purus, euismod ac venenatis eget, malesuada vel lacus. Vivamus vel quam et velit vulputate convallis. Phasellus non aliquam lorem.
                </p>    
            </div>
            <div class="col-sm-6">
                <h3 class="module-header">Featured Events</h3>

                <ul class="featured-event-table">
                    {% for event in featured_events %}
                        <a href="{% url 'events' %}#{{ event.name|slugify }}">
                            <li class="featured-event">
                                <div class="featured-event-cell event-name">{{ event.name }}</div>
                                <div class="featured-event-cell event-date">{{ event.start_time|date:"M j"}}</div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3 class="module-header">Freshman Talent Show Audition Sign-Ups</h3>
                {% crispy audition_form %}
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="col-sm-12 instagram-feed">
            <h3 class="module-header">Instagram Feed</h3>
            <div class="responsive-embed">
                <iframe src="//instagram.com/p/rYiGKrhkY9/embed/" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
            </div>
        </div>
        <div class="col-sm-12 instagram-feed">
            <div class="responsive-embed">
                <iframe src="//instagram.com/p/rP4g1mhkY8/embed/" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
            </div>
        </div>
        <div class="col-sm-12 instagram-feed">
            <div class="responsive-embed">
                <iframe src="//instagram.com/p/rP28BmhkUz/embed/" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}