{% extends "common/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <h3 class="module-header module-header-small">Historical Tour</h3>
        <p>Join the Crimson Key Society for an hour-long tour highlighting the history of Harvard, from its inception in 1636 to the present. Meet outside Annenberg Dining Hall.</p>
        <h5 class="tours-day-header">Tuesday, August 25th</h5>
        <ul class="tours-list">
            <li>12pm-1pm: Historical Tour</li>
            <li>1pm-2pm: Historical Tour</li>
            <li>2pm-3pm: Historical Tour</li>
        </ul>

        <h5 class="tours-day-header">Thursday, August 27th</h5>
        <ul class="tours-list">
            <li>10am-11am: Historical Tour</li>
        </ul>

        <h5 class="tours-day-header">Saturday, August 29th</h5>
        <ul class="tours-list">
            <li>12pm-1pm: Historical Tour</li>
        </ul>   
    </div>
    <div class="col-md-3">
        <h3 class="module-header module-header-small">Practical Tour</h3>
        <p>This hour-long tour is designed to orient new students to Harvard's campus and the Square. From upperclassmen houses and social spaces to University Health Services and local eateries, students will get the inside scoop! Come learn all of the Harvard lingo. Meet at the Information Tent in Harvard Yard.</p>
        <h5 class="tours-day-header">Wednesday, August 26th</h5>
        <ul class="tours-list">
            <li>11am-12pm: Practical Tour</li>
            <li>12pm-1pm: Practical Tour</li>
        </ul>

        <h5 class="tours-day-header">Saturday, August 29th</h5>
        <ul class="tours-list">
            <li>1pm-2pm: Practical Tour</li>
        </ul>

        <h5 class="tours-day-header">Sunday, August 30th</h5>
        <ul class="tours-list">
            <li>2pm-3pm: Practical Tour</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3 class="module-header module-header-small">Academic Buildings Tour</h3>
        <p>This tour will orient new students to all of Harvard's academic buildings. Some classroom buildings are easy to find, but do you know where the Geological Labs are? How about CGIS? Come learn about these, and more, in preparation for your first shopping week! Meet at the Information Tent in Harvard Yard.</p>
        <h5 class="tours-day-header">Thursday, August 27th</h5>
        <ul class="tours-list">
            <li>4pm-5pm: Academic Buildings Tour</li>
        </ul>

        <h5 class="tours-day-header">Saturday, August 29th</h5>
        <ul class="tours-list">
            <li>12pm-1pm: Academic Buildings Tour</li>
        </ul>

        <h5 class="tours-day-header">Sunday, August 30th</h5>
        <ul class="tours-list">
            <li>3pm-4pm: Academic Buildings Tour</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3 class="module-header module-header-small">Women's History Tour</h3>
        <p>This tour branches into both the Yard and the former Radcliffe campus, tracking the progression of women at Harvard. Learn about the history of the two schools and how they eventually became one. Meet at the Information Tent in Harvard Yard.</p>
        <h5 class="tours-day-header">Thursday, August 27th</h5>
        <ul class="tours-list">
            <li>11am-12pm: Women's History Tour</li>
        </ul>
    </div>
</div><!-- /.row -->


{% endblock content %}